		body{
			margin: 0 auto;
			padding: 0 auto;
			background:
			linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
			linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
			linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
			linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
			linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
			linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
			background-color: #131313;
			background-size: 20px 20px;
		}
		
		#container{
			margin:0 auto;
			width: 1024px;
			text-align:center;
		}
		
		button{
			margin-top:20px;
		}
		
		#divLogin{
			margin:0 auto;
			background:#2B2B2B;
			width:300px;
			height:190px;
			text-align:center;
			padding:15px;
			border-radius:10px;
		}
		input{
			display:block;
			margin:0 auto;
			margin-top:10px;
			margin-bottom:5px;
			width:80%;
			border:2px solid #2B2B2B;
			height:35px;
			font-size:2em;
			border-radius:6px;
			text-align:center;
		}
		
		#estado_login{
			display:none;
			width:100px;
			margin:0 auto;
			margin-top:5px;
		}
		
		input:focus{
			background: #2B2B2B;
			color: #FFFFFF;
		}