*{margin:0;padding:0;}
		
		body{
			background:#F3F3F3;
			
		}
		
		.content{
			margin:0 auto;
			margin-top:3em;
			width:100%;
			min-height:350px;
			max-height:500px;
			text-align:center;
			font-family:monospace;
			
			
		}
		
		.content span{
			color:red;
		}
		.content img {
			margin-top:1em;
			margin-bottom:2em;
			cursor:hand;
		}
		
		.ui-loader{
			  text-align:center;
			background:#000;
		}